<h1>{{job.title}}</h1>
<h2>{{job.company}}</h2>
<p>Experience: {{job.experience}} - Salary: {{job.salary}} - Location: {{#if job.remote}} Remote {{/if}}  {{#if job.hybrid}} Hybrid {{/if}} {{#if job.onSite}} On Site {{/if}} </p>
<h3>Job Description:</h3>
<p>{{job.description}}</p>
<h3>Job responsibilities</h3>
<p>{{job.responsibilities}}</p>
<h3>Job Requirements</h3>
<p>{{job.requirements}}</p>